*, ::after, ::before {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

img {
    width: 60px;
    height: 60px;
}

.container {
    display: grid;
    grid-template: 3% repeat(5, 18.4%) 5% / repeat(6, auto);
}

nav {
    grid-area: 1 / 1 / 2 / 7;
}

.bg_color {
    grid-area: 2 / 1 / 3 / 7;
}

.home {
    grid-area: 3 / 1 / 4 / 7;
}

.about {
    grid-area: 4 / 1 / 5 / 7;
}

.services {
    grid-area: 5 / 1 / 6 / 7;
}

.tours {
    grid-area: 6 / 1 / 7 / 7;
}

.footer {
    grid-area: 7 / 1 / 8 / 7;
    padding: 10px;
    background-color: #000;
    color: #fff;
    font-size: 22px;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.footer .text_footer {
    font-weight: 100;
    font-size: 14px;
}

.footer .text_footer span {
    color: #f50;
    font-weight: 700;
}

.to_nav {
    font-size: 14px;
    text-decoration: none;
    padding: 5px 8px;
    border: 1px solid #eee;
    border-radius: 8px;
    color: #fff;
    background-color: #f50;
    position: absolute;
    width: fit-content;
    left: 80%;
    bottom: -50px;
    opacity: 0;
    transition: .3s;
}

.to_nav.active {
    opacity: 1;
}

.to_nav:hover {
    background-color: #ddd;
    color: #000;
}

.to_nav .arrow_up {
    animation: move_to_top .5s linear infinite;
    transform: translateY(0px) scale(1);
}

@keyframes move_to_top {
    from {
      transform: translateY(0px) scale(1);
    }
    to {
      transform: translateY(-4px) scale(1.3);
    }
}

.home, .about, .services, .tours, .bg_color {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 22px;
    font-weight: 900;
}

.bg_color {
    background: url(imgs/Mountain.jpg) no-repeat center center / cover;
    color: #fff;
}

.home, .services {
    background-color: #ddd;
}

nav {
    padding: 5px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent !important;
    z-index: 10;
}

nav.fixe {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff !important;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, .5);
}

nav.show ul {
    height: auto !important;
    overflow: visible;
    visibility: visible;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    font-weight: 700;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    z-index: -1;
}

nav .logo img {
    border-radius: 50%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

@media (max-width: 768px) {
    nav ul {
        height: 0;
        overflow: hidden;
        visibility: hidden;
    }
}

nav ul li {
    padding: 10px;
    transition: .3s;
}

nav ul li:hover {
    transform: scale(1.1);
}

nav ul li a {
    text-decoration: none;
    color: #777;
}

nav .menu {
    font-size: 22px;
    cursor: pointer;
    transition: .3s;
}

nav .menu:hover {
    color: blueviolet;
}

@media (min-width: 769px) {
     nav .menu {
        display: none;
     }
}









